block meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='The only website completely dedicated to buying, selling, and renting in Urbana, MD. Explore Urbana real estate!')
    meta(name='author', content='Andy Detweiler')
    meta(name='robots', content='index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1')
    meta(name='#replace')
    script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "RealEstateAgent",
        "name": "The Urbana Real Estate Exchange",
        "image": "https://urbanarealestateexchange.com/assets/img/logo-nav.png",
        "@id": "https://urbanarealestateexchange.com/assets/img/logo-nav.png",
        "url": "https://urbanarealestateexchange.com/",
        "telephone": "240-223-2419",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "15400 Spring Meadows Drive",
        "addressLocality": "Germantown",
        "addressRegion": "MD",
        "postalCode": "20874",
        "addressCountry": "US"
        },
        "geo": {
        "@type": "GeoCoordinates",
        "latitude": 39.098777770996094,
        "longitude": -77.3037109375
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday"
        ],
        "opens": "08:00",
        "closes": "17:00"
        }
        }
