block scripts
    script(src='//d1qfrurkpai25r.cloudfront.net/graphical/javascript/leaflet.js?auid=YSFIf3Jazb5Ejf9ZGF9LMQAAAD4')
    script(src='//d1qfrurkpai25r.cloudfront.net/graphical/frontend/javascript/maps/plugins/leaflet.draw.js?auid=YSFIf3Jazb5Ejf9ZGF9LMQAAAD4')
    script(src='//www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=Gmjtd%7Cluub2h0rn0%2Crx%3Do5-lz1nh')

block css
    // link(href='//d1qfrurkpai25r.cloudfront.net/graphical/css/leaflet.css?auid=YSFIf3Jazb5Ejf9ZGF9LMQAAAD4', rel='stylesheet')
    // link(href='//d1qfrurkpai25r.cloudfront.net/graphical/css/leaflet.label.css?auid=YSFIf3Jazb5Ejf9ZGF9LMQAAAD4')
